/* Общие стили */
body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Контейнер цитаты */
.container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  max-width: 600px;
  width: 90%;
}

/* Текст цитаты */
#quote {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.quote {
  font-style: italic;
}
.quote::before,
.quote::after {
  content: '"';
}
.quote-author {
  font-weight: bold;
}

/* Кнопка генерации новой цитаты */
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}
